
<p>
    <label>Name</label>
    <input type="text" name="name", autocomplete="off"><%= author.name %>
</p>

<p>
    <label>Active</label>
    <input type="checkbox" name="active"><%= author.active %>
</p>

<p>
    <label>Comments</label>
    <input type="memo" name="comments" style="height:100px;width:200px;", autocomplete="off"><%= author.comments %>
</p>